{% extends 'admin/admin-layout.twig' %}

{% block content %}
<!-- Container -->
<div>
    <form id="offerForm" action="/admin/{{ lang }}/offer/{{ offerByIdArr.getOfferId }}/update" method="post">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Zawartość</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <th scope="row">Kategoria</th>
                    <td>
                        <select id="category" class="form-control custom-select mb-3" name="category_id">
                            {% for offerCategory in offerCategoryArr %}
                                {% if offerCategory.getCategory == offerByIdArr.getCategory %}
                                    <option value="{{ offerCategory.getCategoryId }}" selected>{{ offerCategory.getCategory }}</option>
                                {% else %}
                                    <option value="{{ offerCategory.getCategoryId }}">{{ offerCategory.getCategory }}</option>                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Typ kursu</th>
                    <td>
                        <select id="courseType" class="form-control custom-select mb-3" name="course_type_id">
                            {% for offerType in offerTypesArr %}
                                {% if offerType.getType == offerByIdArr.getType %}
                                    <option value="{{ offerType.getTypeId }}" selected>{{ offerType.getType }}</option>
                                {% else %}
                                    <option value="{{ offerType.getTypeId }}">{{ offerType.getType }}</option>                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Nazwa kursu</th>
                        <td>
                            <select id="courseName" class="form-control custom-select mb-3" name="course_name_id">
                            {% for key, courseName in courseNamesArr %}
                                {% if courseName == offerByIdArr.getName %}
                                    <option value="{{ key }}" selected>{{ courseName }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ courseName }}</option>
                                {% endif %}
                            {% endfor %}                    
                            </select>
                        </td>
                </tr>
                <tr>
                    <th scope="col">Krótki opis</th>
                    <td><textarea id="shortDesc" class="form-control" name="short_desc" cols="100">{{ offerByIdArr.getShortDesc }}</textarea></td>
                </tr>
                <tr>
                    <th scope="col">Wspólny opis</th>
                    <td>
                        <select id="commonDesc" class="form-control custom-select mb-3" name="common_desc_id">
                            {% for key, commonDesc in commonDescArr %}
                                {% if commonDesc == offerByIdArr.getCommonDesc %}
                                    <option value="{{ key }}" selected>{{ commonDesc }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ commonDesc }}</option>                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Długi opis</th>
                    <td><textarea id="longDesc" class="form-control" name="long_desc" cols="100" oninput="display(this)">{{ offerByIdArr.getLongDesc }}</textarea></td>
                </tr>
                <tr>
                    <th scope="col">Zdjęcie</th>
                    <td><input id="img" class="form-control" type="text" name="img" value="{{ offerByIdArr.getImg }}"></td>
                </tr>
                <tr>
                    <th scope="col">Film</th>
                    <td><input id="movie" class="form-control" type="text" name="movie" value="{{ offerByIdArr.getMovie }}"></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitForm(this)">Aktualizuj</button>
    </form>

    <h2>Podgląd oferty</h2>
    <hr>

</div>
<!-- End of Container -->

<!-- textarea function -->
<script>
    const tx = document.getElementsByTagName('textarea');
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');        
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    }

</script>

<script>
    function submitForm() {
        const element = document.getElementById("offerForm");
        element.submit();
    }
</script>

{% endblock %}