{% extends 'admin/admin-layout.twig' %}

{% block content %}
<div>
    <form id="offerForm" action="/admin/{{ lang }}/offerCategory/{{ category.getId }}/update" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Zawartość</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <th scope="row">Kod kategorii</th>
                    <td><input id="code" class="form-control" type="text" name="code" value="{{ category.getCode }}"></td>
                </tr>
                <tr>
                    <th scope="row">Nazwa kategorii</th>
                    <td><input id="category" class="form-control" type="text" name="category" value="{{ category.getCategory }}"></td>
                </tr>
                <tr>
                    <th scope="col">Wspólny opis</th>
                    <td>
                        <select id="commonDesc" class="form-control custom-select mb-3" name="common_desc_id">
                            {% for commonDesc in commonDescArr %}
                                {% if commonDesc.getId == category.getCommonDescId %}
                                    <option value="{{ commonDesc.getId }}" selected>{{ commonDesc.getCommonDesc }}</option>
                                {% else %}
                                    <option value="{{ commonDesc.getId }}">{{ commonDesc.getCommonDesc }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Długi opis</th>
                    <td><textarea id="longDesc" class="form-control" name="long_desc" cols="100" oninput="display(this)">{{ category.getLongDesc }}</textarea></td>
                </tr>

<!-- TODO: add image translation - different language version have different image -->
                <tr>
                    <th scope="col">Zdjęcie</th>
                    <td>
                        <input id="img" class="form-control" type="file" name="img">
                        <input id="img_original" class="form-control" type="hidden" name="img_original" value="{{ category.getImg }}">
                    </td>                    
                </tr>
                <tr>
                    <th scope="row">Napis - mały</th>
                    <td><input id="heading3" class="form-control" type="text" name="heading_3" value="{{ category.getHeading3 }}"></td>
                </tr>
                <tr>
                    <th scope="row">Napis - na kafelku</th>
                    <td><input id="paragraph" class="form-control" type="text" name="paragraph" value="{{ category.getParagraph }}"></td>
                </tr>
                <tr>
                    <th scope="row">Napis - przycisk</th>
                    <td><input id="button" class="form-control" type="text" name="button" value="{{ category.getButton }}"></td>
                </tr>
            </tbody>
        </table>
<!-- TODO: Browser will automaticly validate input. However, if the JS function submit() is used, it will submit the form anyway. Must use input type="submit" for automatic validation or validate input data inside function -->
        <button class="btn btn-primary btn-lg btn-block" onlcick="submitForm()">Zapisz</button>
    </form>
</div>
<br><br>
<hr>
<!-- End of Container -->

<!-- textarea function -->
<script>
    const tx = document.getElementsByTagName('textarea');
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');        
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    }

</script>

<script>
    function submitForm() {
        const element = document.getElementById("offerForm");
        element.submit();
    }
</script>

{% endblock %}