{% extends 'admin/admin-layout.twig' %}

{% block content %}
<!-- Container -->
<div class="container-fluid">
    <form id="offerForm" action="/admin/{{ lang }}/teacher/{{ employeeArr.getEmpId }}/update" method="post">
        <input name="employee_id" value="{{ employeeArr.getEmpId }}" hidden>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Zawartość</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <th scope="col">Imię i nazwisko</th>
                    <td><textarea id="name" class="form-control" name="name" cols="100">{{ employeeArr.getName }}</textarea></td>
                </tr>
                <tr>
                    <th scope="col">Nazwa kursu</th>
                    <td>
                        <select id="courseName" class="form-control custom-select mb-3" name="course_name_id">
                        {% for key, courseName in courseNamesArr %}
                            {% if courseName == employeeArr.getCourseName %}
                                <option value="{{ key }}" selected>{{ courseName }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ courseName }}</option>
                            {% endif %}
                        {% endfor %}                    
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Stanowisko</th>
                    <td>
                        <select id="positionsName" class="form-control custom-select mb-3" name="positions_id">
                        {% for positions in positionsArr %}
                            {% if positions.getId == employeeArr.getPosition.getId %}
                                <option value="{{ positions.getId }}" selected>{{ positions.getName }}</option>
                            {% else %}
                                <option value="{{ positions.getId }}">{{ positions.getName }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Specjalizacja</th>
                    <td>
                        {% for specialization in specializationsArr %}
                            {% if specialization.getId in employeeArr.getSpecialization|keys %}
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="{{ specialization.getName }}" name="specialization_id[]" value="{{ specialization.getId }}" checked>
                                    <label class="form-check-label" for="{{ specialization.getName }}">{{ specialization.getName }}</label>
                                </div>
                            {% else %}
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="{{ specialization.getName }}" name="specialization_id[]" value="{{ specialization.getId }}">
                                    <label class="form-check-label" for="{{ specialization.getName }}">{{ specialization.getName }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}                    
                    </td>
                </tr>
                <tr>
                    <th scope="col">Zdjęcie</th>
                    <td><input id="img" class="form-control" type="text" name="img" value="{{ employeeArr.getImg }}"></td>
                </tr>
                <tr>
                    <th scope="col">Zdjęcie - thumbnail/square</th>
                    <td><input id="imgThumbnail" class="form-control" type="text" name="img_thumbnail" value="{{ employeeArr.getImgThumbnail }}"></td>
                </tr>
                <tr>
                    <th scope="col">Długi opis</th>
                    <td><textarea id="longDesc" class="form-control" name="long_desc" cols="100">{{ employeeArr.getLongDesc }}</textarea></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitForm(this)">Aktualizuj</button>
    </form>

    <h2>Podgląd oferty</h2>
    <hr>
</div>
<!-- End of Container -->

<!-- Visualisation -->
<!-- Container -->
<div class="container">
    <main id="content">
        <!-- Employee -->
        <section id="about" class="introduction scrollto fixpaddings">
            <div class="row clearfix">
                <div class="col-1">
                    <div class="section-heading">
                        <h3 id="courseNameIn"></h3>
                        <h2 id="nameIn" class="section-title"></h2>
                    </div>
                </div>
                <div class="col-3">
                    <p><img id="imgIn" src="" alt="" class="topMargin"></p>
                </div>
                <div class="col-3">
                    <p id="longDescIn"></p>
                </div>
            </div>
        </section>
        <!--End of Employee -->
    </main>
</div>
<!-- End of Container -->



<!-- Propagate table and build element on load function -->
<script>
    // Build JS array from PHP array

    // function -> name
    // Built element on load
    window.addEventListener('load', (event) => {
        document.getElementById("nameIn").innerHTML = document.getElementById("name").value;
    });
    // Add event listener
    document.getElementById("name").addEventListener("input", function(){
        document.getElementById("nameIn").innerHTML = document.getElementById("name").value;
    });
 
    // function -> img
    // Built element on load
    window.addEventListener('load', (event) => {
        document.getElementById("imgIn").src = document.getElementById("img").value;
        document.getElementById("imgIn").alt = "Zdjęcie " + document.getElementById("img").value;
    });
    // Add event listener
    document.getElementById("img").addEventListener("input", function(){
        document.getElementById("imgIn").src = document.getElementById("img").value;
        document.getElementById("imgIn").alt = "Zdjęcie " + document.getElementById("img").value;
    });

    // function -> long description
    // Built element on load
    window.addEventListener('load', (event) => {
        document.getElementById("longDescIn").innerHTML = document.getElementById("longDesc").value;
    });
    // Add event listener
    document.getElementById("longDesc").addEventListener("input", function(){
        document.getElementById("longDescIn").innerHTML = document.getElementById("longDesc").value;
    });

</script>

<!-- textarea function -->
<script>
    const tx = document.getElementsByTagName('textarea');
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');        
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    }

</script>

<script>
    function submitForm() {
        const element = document.getElementById("offerForm");
        element.submit();
    }
</script>


{% endblock %}
