<div class="container-fluid">
    <!-- Language Icons -->
    <div>
        <ul class="social-icons">
            <li class="inline-block">
                <a title="Dla Polskich Studentów" href="/admin/pl">
                    <img src="/images/flags/poland.png" />
                </a>
            </li>
            <li class="inline-block">
                <a title="For Vietnamese Students" href="/admin/vi">
                    <img src="/images/flags/vietnam.png" />
                </a>
            </li>
            <li class="inline-block">
                <a title="For English Students" href="/admin/en">
                    <img src="/images/flags/england.png"  />
                </a>
            </li>
            <li class="inline-block">
                <a title="For Chinese Students" href="/admin/zh">
                    <img src="/images/flags/china.png" />
                </a>
            </li>
        </ul>
    </div>

    <!-- End of Language Icons -->
    <h1>Panel administracyjny</h1>
    <a class="btn btn-info" href="/admin/{{ lang }}" role="button" aria-pressed="true">Home</a>
<!-- Update -->
    <a class="btn btn-info" href="/admin/{{ lang }}/offer" role="button" aria-pressed="true">Oferta</a>
    <a class="btn btn-info" href="/admin/{{ lang }}/offerCourse" role="button" aria-pressed="true">Kursy</a>
    <a class="btn btn-info" href="/admin/{{ lang }}/teacher" role="button" aria-pressed="true">Nauczyciele</a>
<!-- 
    <div class="dropdown">
        <a class="btn btn-info" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
            Główna strona
        </a>
        <div class="dropdown-content" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/admin/main/banner/banner.php">Baner</a>
            <a class="dropdown-item" href="/admin/main/about/about.php">About</a>
            <a class="dropdown-item" href="/admin/main/contact/contact.php">Contact</a>
            <a class="dropdown-item" href="/admin/main/references/references.php">References</a>
        </div>
    </div>
-->

<!-- Add -->
    <div class="dropdown">
        <a class="btn btn-info" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
            Dodaj
        </a>
        <div class="dropdown-content" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/admin/{{ lang }}/offer/createOfferForm">Oferta</a>
            <a class="dropdown-item" href="/admin/{{ lang }}/teacher/createEmployeeForm">Nauczyciel</a>
<!--            <a class="dropdown-item" href="#">Kurs</a>
            <a class="dropdown-item" href="#">Kategoria</a>
            <a class="dropdown-item" href="#">Typ kursu</a>
            <a class="dropdown-item" href="#">Nazwa kursu</a> -->
        </div>
    </div>
    <hr>
</div>

