{% extends 'admin/admin-layout.twig' %}

{% block content %}
<!-- Container -->
<div>
    <form id="offerForm" action="/admin/{{ lang }}/offer/create" method="post">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Zawartość</th>
                </tr>
            </thead>
            <tbody id="data">
                <tr>
                    <th scope="row">Kod Kategorii</th>
                    <td>
                        <select id="category" class="form-control custom-select mb-3" name="category_id">
                            {% set firstItem = offerCategoryArr | first %}
                            {% for offerCategory in offerCategoryArr %}
                                {% if offerCategory.getId == firstItem.getId %}
                                    <option value="{{ offerCategory.getId }}" selected>{{ offerCategory.getCode }}</option>
                                {% else %}
                                    <option value="{{ offerCategory.getId }}">{{ offerCategory.getCode }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Kod kursu</th>
                    <td>
                        <select id="courseId" class="form-control custom-select mb-3" name="course_id">
                            {% set firstItem = coursesArr | first %}
                            {% for course in coursesArr %}
                                {% if course.getId == firstItem.getId %}
                                    <option value="{{ course.getId }}" selected>{{ course.getCode }}</option>
                                {% else %}
                                    <option value="{{ course.getId }}">{{ course.getCode }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Kod ilość ofert</th>
                    <td>
                        <select id="courseId" class="form-control custom-select mb-3" name="course_id">
                            {% set firstItem = coursesArr | first %}
                            {% for course in coursesArr %}
                                {% if course.getId == firstItem.getId %}
                                    <option value="{{ course.getId }}" selected>{{ course.getCode }}</option>
                                {% else %}
                                    <option value="{{ course.getId }}">{{ course.getCode }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitForm(this)">Dodaj</button>
    </form>

</div>

<script>
    function submitForm() {
        const element = document.getElementById("offerForm");
        element.submit();
    }
</script>

{% endblock %}