<section id="kontakt" class="scrollto text-center" data-enllax-ratio=".2">
    <div class="section-heading">
        <h3>{{ contactMainArr.getHeading3 }}</h3>
        <h2 class="section-title">{{ contactMainArr.getHeading2 }}</h2>
    </div>
    <div class="row clearfix">
        <div class="col-2">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4887.590899055631!2d21.009294!3d52.228934!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccf2e795e4bb%3A0xdab272eb2a228b21!2sAleje+Jerozolimskie+47%2C+Warszawa%2C+Poland!5e0!3m2!1sen!2spl!4v1504094526830" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-2">
            <form id="ajax-contact" method="post" action="/lib/google/mailer.php">
                <div class="field">
                    <input type="text" id="name" name="name" placeholder="{{ formFieldsDesc.getName }}" required>
                </div>
                <div class="field">
                    <input type="email" id="email" name="email" placeholder="{{ formFieldsDesc.getEmail }}" required>
                </div>
                <div class="field">
                    <textarea id="message" name="message" placeholder="{{ formFieldsDesc.getMessage }}" required></textarea>
                </div>
                <div class="field">
                    <input id="privacy-policy" type="checkbox" name="privacyPolicy" value="true" required style="height: 13px;">
                    <label for="privacy-policy" style="font-size: small;">{{ formFieldsDesc.getPrivacyPolicy | raw }}</label>
                </div>
                </br>
                <div class="g-recaptcha" data-sitekey="{{ recaptchaConfig.sitekey }}">
                </div>
                <div class="field">
                    <button id="button" class="button" type="submit">{{ formFieldsDesc.getButton }}</button>
                </div>
            </form>
            <div id="form-messages">
                <p></p>
            </div>
        </div>
    </div>
    <div id="address" class="row clearfix">
        <div class="col-3">{{ contactMainArr.getAddress | raw }}</div>
        <div class="col-3">{{ contactMainArr.getBranchAddress | raw }}</div>
        <div class="col-3">{{ contactMainArr.getPhone | raw }}</div>
    </div>
</section>