{% extends 'layout.twig' %}
{% block content %}
    <!-- Course Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3 class="uppercase">{{ course.getCategory }}</h3>
                    <h2 class="section-title">{{ course.getName }}</h2>
                    <p>
                        <img src="{{ course.getImg }}" alt="{{ course.getName }}"/>
                    </p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
                <!-- Youtube Movie
                <div>
                    <div class="iframe-container">
                        <iframe src="{{ course.getMovie }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                End of Youtube Movie-->
                <!-- Short description -->
                {{ course.getShortDesc | raw }}
                <!-- Common description -->
                {{ course.getCommonDesc | raw }}
                <!-- Long description -->
                {{ course.getLongDesc | raw }}
            </div>
        </div>
    </section>
    <!-- End of Course Details -->
{% endblock %}