<section id="nauczyciele" class="scrollto text-center" data-enllax-ratio=".2">
    <div class="row clearfix">
        <div class="section-heading">
            <h3>{{ employeeMainArr.getHeading3 }}</h3>
            <h2 class="section-title">{{ employeeMainArr.getHeading2 }}</h2>
        </div>
        {% for employee in employeeArr %}
        <blockquote class="col-3 testimonial classic">
            <a href="teacher/{{ lang }}/{{ employee.getId }}"><img src="{{ employee.getImgThumbnail }}" alt="Zdjęcie {{ employee.getFullName }}"/></a>
            <h3><a href="teacher/{{ lang }}/{{ employee.getId }}">{{ employee.getFullName }}</a></h3>
            <h4>{{ employee.getSpecialization }}</h4>
            <footer>{{ employee.getPosition }}</footer>
        </blockquote>
        {% endfor %}
    </div>
</section>