{% extends 'layout.twig' %}

{% block content %}
    <!-- Employee -->
    <section id="about" class="introduction scrollto fixpaddings">
        <div class="row clearfix">
            <div class="col-1">
                <div class="section-heading">
                    <h3>{{ employee.getSpecialization }}</h3>
                    <h2 class="section-title">{{ employee.getFullName }}</h2>
                </div>
            </div>
            <div class="col-3">
                <p><img src="{{ employee.getImg }}" alt="{{ employee.getFullName }}" class="topMargin"></p>
            </div>
            <div class="col-3">
                {{ employee.getLongDesc | raw }}
            </div>
        </div>
    </section>
    <!--End of Employee -->
{% endblock %}