<section id="oferta" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
        <div class="section-heading">
            <h3>{{ offerMain.getHeading3 }}</h3>
            <h2 class="section-title">{{ offerMain.getHeading2 }}</h2>
        </div>
        {% for offerCategory in offerCategoryArr %}
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>{{ offerCategory.getCategory }}</h3>
                <p class="pricing-sub">{{ offerCategory.getParagraph }}</p>
                <span><a href="/offer/category/{{ lang }}/{{ offerCategory.getId }}"><img src="{{ offerCategory.getImg }}" alt="Zdjęcie ' . $row['category'] . '"/></a></span>
                <a href="/offer/category/{{ lang }}/{{ offerCategory.getId }}" class="button">{{ offerCategory.getButton }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
