{% extends 'layout.twig' %}

{% block content %}
    <!-- Offer Buy -->
    <section class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix" style="padding-bottom:0px;">
            <div class="section-heading" style="padding-bottom:0px;">
                <h3>{{ offerBuyArr.getHeading3Buy }}</h3>
                <h2 class="section-title" style="padding-bottom:0px;">{{ offerBuyArr.getHeading2Payment }}</h2>
            </div>
        </div>
    </section>
    <!-- Offer Buy -->
    <section class="secondary-color text-center scrollto clearfix ">
<!--    <p>{{ offerBuyArr.getInfoPayment | raw }}</p> -->
            <!-- Bank Payment -->
            <div class="col">
                <div class="col-3">
                    <div class="section-heading">
                        <h2 class="section-title">{{ offerBuyArr.getHeading2Payment1 }}</h2>
                    </div>
                </div>
                <div class="col-2-3 alignToPhoto">
                    {{ offerBuyArr.getInfoAccount | raw }}
                    <!-- Course info -->
<!-- TODO: Add 'tytu przelewu'  oraz numer rezerwacji-->
                    <p class="capitalize">
                        {{ res_no }} - {{ mailerBuyData.offer_category }} {{ mailerBuyData.offer_name }}
                    </p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!-- DotPay POST -->
            <div class="col">
                <div class="col-3">
                    <div class="section-heading">
                        <h2 class="section-title">{{ offerBuyArr.getHeading2Payment2 }}</h2>
                    </div>
                </div>
                <div class="col-2-3 alignToPhoto">
                <!--    {{ offerBuyArr.getInfoPaymentGateway | raw }} -->
                    <!-- Form DotPay -->
                <!--    <form action="https://ssl.dotpay.pl/t2/" method="post" target="_parent"> -->
                    <form action="https://ssl.dotpay.pl/test_payment/" method="post" target="_parent">
                        <!-- DotPay Config -->
                        <input type="hidden" name="amount" value="400" />
                        <input type="hidden" name="currency" value="PLN" />
                        <!-- numer ID w Dotpay -->
                        <input type="hidden" name="id" value="730320" />
                        <!-- Tytuł transakcji -->
                        <input type="hidden" name="description" value="Pakiet 4 lekcji" />
                        <input type="hidden" name="chk" value="{{ chkValue }}" />
                        <!-- Ardes URL powrotu do sklepu -->
                        <input type="hidden" name="url" value="http://testwebproject.eu/" />
                        <input type="hidden" name="type" value="0" />
                        <!-- Tekst przycisku powrotu do sklepu -->
                        <input type="hidden" name="buttontext" value="Powrót do Konwersatorium Muzycznego" />
                        <!-- End of DotPay Config -->
                        <button id="button" type="submit" style="border:0px; cursor: pointer; margin-bottom: 10px">
                            <img src="/images/shop/payment/set_credit_card-horizontal-transparent.png" alt="Logo Credit Cards"/>
                            </br>
                            <img src="/images/shop/payment/apple-icon-60x60.png" alt="Logo DotPay"/>
                        </button>
                    </form>
                    <!-- End of Form DotPay -->
                    <br><br>
                    <a href="#">{{ offerBuyArr.getButtonPaymentPolicy }}</a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!-- Payment In Office -->
            <div class="col">
                <div class="col-3">
                    <div class="section-heading">
                        <h2 class="section-title">{{ offerBuyArr.getHeading2Payment3 }}</h2>
                    </div>
                </div>
                <div class="col-2-3 alignToPhoto">
                    {{ offerBuyArr.getInfoAddress | raw }}
                </div>
            </div>
        </div>
    </section>
    <!-- End of Offer Buy -->

{% endblock %}