{% extends 'layout.twig' %}

{% block content %}
    <!-- Offer Category -->
    <section class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>{{ offerCategory.getHeading3 }}</h3>
                    <h2 class="section-title">{{ offerCategory.getCategory }}</h2>
                    <p><img src="{{ offerCategory.getImg }}" alt="Lekcje indywidualne {{ offerCategory.getHeading3 }}" /></p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
            {{ offerCommonDesc.getCommonDesc | raw }}
            {{ offerCategory.getLongDesc | raw }}
            </div>
        </div>
    </section>
    <!--Pricing Tables-->
    <section class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix">
            <div class="section-heading">
                <h3>{{ offerMain.getHeading3 }}</h3>
                <h2 class="section-title">{{ offerMain.getHeading2 }}</h2>
            </div>

            {% for offerId, offerCourses in offerCoursesByCategoryArr %}
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="pricing-block-content">
                        <h3>{{ offerCourses.getCourseName }}</h3>
                        <p class="pricing-sub">{{ offerCategory.getCategory }}</p>
                        <span><a href="/offer/details/{{ lang }}/{{ offerId }}"><img src="{{ offerCourses.getImgThumbnail }}" alt="{{ offerCourses.getCourseName }}"/></a></span>
                        <a href="/offer/details/{{ lang }}/{{ offerId }}" class="button">{{ offerCourses.getButton }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!--End of Pricing Tables-->
    <!-- End of Offer Category -->
{% endblock %}