{% extends 'layout.twig' %}

{% block content %}
    <!-- Offer Buy -->
    <section class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix">
            <div class="section-heading" style="padding-bottom:0px;">
                <h3>{{ offerBuyArr.getHeading3Buy }}</h3>
                <h2 class="section-title" style="padding-bottom:0px;">{{ offerBuyArr.getHeading2Buy }}</h2>
            </div>
            <div class="col">
                <form id="shop-contact" class="text-left" method="post" action="/offer/buy/payment/{{ lang }}/{{ offerByIdArr.getOfferId }}">
                    <div class="col-1" style="padding-top:0px; padding-bottom:0px;">
                        {{ offerBuyArr.getInfoMain | raw }}
                    </div>
                    <!-- Form inputs -->
                    <div class="col-2" style="padding-top:0px;">
                        <input type="hidden" name="offerId" value={{ offerByIdArr.getOfferId }}>
                        <input type="hidden" name="offerCategory" value="{{ offerByIdArr.getCategory }}">
                        <input type="hidden" name="offerName" value="{{ offerByIdArr.getName }}">
                        <input type="hidden" name="lang" value="{{ lang }}">
                        <div class="field">
                            <input type="text" id="name" name="name" placeholder="{{ formFieldsDesc.getName }}" required style="width:100%">
                        </div>
                        <div class="field">
                            <input type="text" id="surname" name="surname" placeholder="{{ formFieldsDesc.getSurname }}" required style="width:100%">
                        </div>
                        <div class="field">
                            <input type="text" id="street" name="street" placeholder="{{ formFieldsDesc.getStreet }}" required style="width:100%">
                        </div>
                        <div class="field col-3" style="padding:0;">
                            <input type="text" id="town" name="town" placeholder="{{ formFieldsDesc.getTown }}" required style="width:100%">
                        </div>
                        <div class="field col-3" style="padding:0 10px;">
                            <input type="text" id="postcode" name="postcode" placeholder="{{ formFieldsDesc.getPostcode }}" style="width:100%">
                        </div>
                        <div class="field col-3" style="padding:0;">
                            <input type="text" id="country" name="country" placeholder="{{ formFieldsDesc.getCountry }}" required style="width:100%">
                        </div>
                        <div class="field">
                            <input type="email" id="email" name="email" placeholder="{{ formFieldsDesc.getEmail }}" required style="width:100%">
                        </div>                        
                        <div class="field">

                        {% if lang == 'pl' %}
                        <!-- Option visible on polish website -->
                        <label for="lesson">Preferowana forma zajęć: </label>
                        <select name="lesson" id="lesson"  style="width:45%" onchange="changeCurrency()">
                            <option value="facetoface" selected>Lekcje stacjonarne</option>
                            <option value="online">Lekcje online</option>
                        </select>
                        {% endif %}

                        {% if lang != 'pl' %}
                        <!-- Option visible on foreign languages pages. When used, adjust price and currency in info below the form by using <span id="price-display-info"></span> -->

                        <label for="currency">{{ formFieldsDesc.getCurrencyLabel }} </label>
                        <select name="currency" id="currency"  style="width:45%" onchange="changeCurrency()">
                            <option value="AUD">AUD (Australian Dollar)</option>
                            <option value="CAD">CAD (Canadian Dollar)</option>
                            <option value="CHF">CHF (Swiss Franc)</option>
                            <option value="DKK">DKK (Danish Krone)</option>
                            <option value="EUR" selected>EUR (Euro) - default</option>
                            <option value="GBP">GBP (Pound sterling)</option>
                            <option value="NOK">NOK (Norwegian Krone)</option>
                            <option value="SEK">SEK (Swedish Korona)</option>
                            <option value="USD">USD (U.S. Dollar)</option>
                        </select>
                        <div style="display: inline">{{ formFieldsDesc.getInfo }} <span id="price-display"></span></div>
                        {% endif %}
                                                
                        <div class="field">
                            <input id="privacy-policy" type="checkbox" name="privacyPolicy" value="true" required style="height: 13px;">
                            <label for="privacy-policy" style="font-size: small;">{{ formFieldsDesc.getPrivacyPolicy | raw }}</label>
                        </div>
                        <br>
                        <div class="field">
                            <input id="onlinelearning-policy" type="checkbox" name="onlinelearningPolicy" value="true" required style="height: 13px;">
                            <label for="onlinelearning-policy" style="font-size: small;">{{ formFieldsDesc.getLearningPolicy | raw }}</label>
                        </div>
                        <br>

                        <!-- error message-->
                        {% if errorMessage %}                        
                        <div id="error-messages" class="text-central" >
                            <p style="color: red; font-size: small;">*{{ errorMessage }}</p>
                        </div>
                        {% endif %}
                        <div class="g-recaptcha" data-sitekey="{{ recaptchaConfig.sitekey }}">
                        </div>
                        <div class="field text-center">
                            <button id="button" class="button" type="submit">{{ formFieldsDesc.getButton }}</button>
                        </div>
                    </div>
                    <!-- End Form Input -->
                    <!-- Info -->
                    <div class="col-1">
                        {{ offerBuyArr.getInfoBuy | raw }}
                        <ul>
                            <li class="text-left">{{ offerBuyArr.getInfoCourse }} {{ offerByIdArr.getCategory }} | {{ offerByIdArr.getName }}</li>
                            <!-- When currency is changed, adjust price and currency in email info by using <span id="price-display-info"></span> -->
                            <li class="text-left">{{ offerBuyArr.getInfoPrice | raw}}</li>
                            <li class="text-left">{{ offerBuyArr.getInfoExpiration }}</li>
                        </ul>
                    </div>
                    <!-- End Info -->
                </form>
                <div class="col-1">
                    {{ offerBuyArr.getInfoBuyContact | raw }}
                </div>
            </div>
        </div>
    </section>
    <!-- End of Offer Buy -->
    <!-- Footer -->
    <!-- End of Footer -->

<!-- Script to change price info when the currency is changed -->
{% if lang != 'pl' %}
<script>
<!-- currencies: AUD, CAD, CHF, DKK, EUR, GBP, NOK, SEK, USD -->
    function changeCurrency() {
        var selectedCurrency = document.getElementById("currency").value;
        var price = getPrice(selectedCurrency);
        document.getElementById("price-display").innerHTML = price;
        document.getElementById("price-display-info").innerHTML = price;
    }

    function getPrice(currency) {
        var price = "PLN 400";

        switch (currency) {
        case "AUD":
            price = "AUD 160";
            break;
        case "CAD":
            price = "CAD 160";
            break;
        case "CHF":
            price = "CHF 110";
            break;
        case "DKK":
            price = "DKK 800";
            break;
        case "EUR":
            price = "EUR 100";
            break;
        case "GBP":
            price = "GBP 100";
            break;
        case "NOK":
            price = "NOK 1000";
            break;
        case "SEK":
            price = "SEK 1000";
            break;
        case "USD":
            price = "USD 120";
            break;
        default:
            price = "PLN 100";
            break;
        }

        return price;

    }

changeCurrency();
</script>

{% endif %}


{% endblock %}