{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3 class="uppercase">{{ offerByIdArr.getCategory }}</h3>
                    <h2 class="section-title">{{ offerByIdArr.getName }}</h2>
                    <p>
                        <img src="{{ offerByIdArr.getImg }}" alt="{{ offerByIdArr.getName }}"/>
                    </p>
                    <!-- Buy Button -->
                    {% if quantity > 0 %}
                        <div class="text-center">
                        <a href="/offer/buy/{{ lang }}/{{ offerByIdArr.getOfferId }}" class="button button-secondary uppercase">{{ offerBuyArr.getButtonPay }}</a>

<!-- 
<a href="/offer/test-buy/{{ lang }}/{{ offerByIdArr.getOfferId }}" class="button button-secondary uppercase">{{ offerBuyArr.getButtonPay }}</a>
-->
                        </div>
                    {% else %}
                        <p style="color: red; font-size: small;">*Brak wolnych miejsc. Prosimy o kontakt z biurem sprzedaży w celu rezerwcji późniejszego terminu</p>
                        <div class="text-center">
                            <a class="button button-secondary uppercase">{{ offerBuyArr.getButtonPay }}</a>
                        </div>
                    {% endif %}
                    <!-- End of Buy Button -->
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
                <!-- Youtube Movie
                <div>
                    <div class="iframe-container">
                        <iframe src="{{ offerByIdArr.getMovie }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                End of Youtube Movie-->
                <!-- Short description -->
                {{ offerByIdArr.getShortDesc | raw }}
                <!-- Common description -->
                {{ offerByIdArr.getCommonDesc | raw }}
                <!-- Long description -->
                {{ offerByIdArr.getLongDesc | raw }}
            </div>
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}