{% extends 'layout.twig' %}

{% block content %}
    <!-- Offer Payment Heading-->
    <section class="secondary-color text-center scrollto clearfix ">
        <!-- Offer Payment Heading-->
        <div class="row" style="padding-bottom:0px;">
            <div class="section-heading" style="padding-bottom:0px;">
                <h3>{{ offerBuyArr.getHeading3Buy }}</h3>
                <h2 class="section-title" style="padding-bottom:0px;">{{ offerBuyArr.getHeading2Payment }}</h2>
            </div>
        </div>
        <!-- End of Offer Payment Heading -->
        <!-- General Payment Info   <p>{{ offerBuyArr.getInfoPayment | raw }}</p> -->
        
        <!-- Bank Payment -->
        <div class="row no-padding-bottom no-padding-top margin-top">
            <div class="col-3">
                <div class="section-heading">
                    <h2 class="section-title">{{ offerBuyArr.getHeading2Payment1 }}</h2>
                </div>
            </div>
            <div class="col-2-3">
                {{ offerBuyArr.getInfoAccount | raw }}
                <!-- Course info -->
<!-- TODO: Add 'tytu przelewu'  oraz numer rezerwacji-->
                <p class="capitalize">
                    {{ offerReservation.getResNo }} - {{ offerReservation.getDescription }}
                </p>
                <br><br><br>
            </div>
        </div>

        {% if lang != 'pl' %}
        <!-- DotPay POST -->
        <div class="row no-padding-bottom no-padding-top margin-top">
            <div class="col-3">
                <div class="section-heading">
                    <h2 class="section-title">{{ offerBuyArr.getHeading2Payment2 }}</h2>
                </div>
            </div>
            <div class="col-2-3">
            <!--    {{ offerBuyArr.getInfoPaymentGateway | raw }} -->
                <!-- Form Payment -->
                <form action="/offer/buy/payment/gateway/{{ lang }}" method="post" target="_parent">
                    <!-- resevation number -->
                    <input type="hidden" name="res_id" value="{{ res_id }}" />
                    <!-- End of Form Payment -->
                
                    <button id="button" class="secondary-color" type="submit" style="border:0px; cursor: pointer; margin-bottom: 10px" disabled>
                        <img src="/images/shop/payment/gateway-button.png" alt="Logo Credit Cards and DotPay" style="width: 90%; height: auto;" />
                    </button>
                </form>
                <!-- End of Form DotPay -->
                <br>
                <a href="/paymentpolicy/{{ lang }}" target="_blank">{{ offerBuyArr.getButtonPaymentPolicy }}</a>
                <br><br><br>
            </div>
        </div>
        {% endif %}

        <!-- Payment In Office -->
        <div class="row no-padding-bottom no-padding-top margin-top">
            <div class="col-3">
                <div class="section-heading">
                    <h2 class="section-title">{{ offerBuyArr.getHeading2Payment3 }}</h2>
                </div>
            </div>
            <div class="col-2-3">
                {{ offerBuyArr.getInfoAddress | raw }}
                <br><br>
            </div>
        </div>
    </section>
    <!-- End of Offer Payment -->

{% endblock %}