{% extends 'layout.twig' %}
{% block content %}
    <!-- Offer Details -->
    <section id="about" class="introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3 class="uppercase">{{ offerSpecial_3_Arr.getHeading3 }}</h3>
                    <h2 class="section-title">{{ offerSpecial_3_Arr.getHeading2 }}</h2>
                    <p>
                        <img src="{{ offerSpecial_3_Arr.getImg }}" alt="Image"/>
                    </p>
                </div>
            </div>
            <div class="col-2-3 alignToPhoto">
                <!-- Long description -->
                {{ offerSpecial_3_Arr.getLongDesc | raw }}
            </div>
            <!-- Offer -->
            {{ include('offer-main.twig') }}
        </div>
    </section>
    <!-- End of Offer Details -->
{% endblock %}